<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/highlight.dracula.css">
		<script src="/static/js/highlight.pack.js"></script>
		<style>
			pre code.hljs {
				display: block;
			}
			code.hljs {
				display: inline;
			}
		</style>

		<link rel="stylesheet" href="/static/css/stackexchange.css">
	</head>
	<body>
		<% if (typeof(question) === 'object') { %>
			<div id="question" class="box">
				<p><span class="score"><%= question.score %></span> | <a href="<%= question.link %>" class="title"><%= question.title %></a></p>

<%- question.body %>

			<% if (question.comments.length > 0) { %>
				<div class="comments box">
					<% for (let c = 0; c < question.comments.length; c++) { %>
						<p class="comment"><%= question.comments[c].score %> | <%- question.comments[c].body %></p>
					<% } %>
				</div>
			<% } %>
			</div>
		<% } %>
		<% for (let i = 0; i < answers.length; i++) { %>
			<div class="answer box">
				<p><span class="score"><%= answers[i].score %></span> | <span class="accepted-status"><%= (answers[i].accepted  ? '✔' : '') %></span></p>
<%- answers[i].body %>
				<% if (answers[i].comments.length > 0) { %>
					<div class="comments box">
						<% for (let j = 0; j < answers[i].comments.length; j++) { %>
							<p class="comment"><%= answers[i].comments[j].score %> | <%- answers[i].comments[j].body %></p>
						<% } %>
					</div>
				<% } %>
			</div>
		<% } %>

		<script>
			hljs.initHighlightingOnLoad(); // highlight normal <pre><code></code></pre> blocks
			// highlight inline code blocks <code></code>
			Array.prototype.slice.call(document.querySelectorAll('code')) // turn it into an array
				.filter(element => !element.classList.contains('hljs')) // filter out everything that's already been parsed by hljs
				.forEach(element => hljs.highlightBlock(element)); // highlight them
		</script>
	</body>
</html>