<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/highlight.dracula.css">
		<script src="/static/js/highlight.pack.js"></script>
		<style>
			pre code.hljs {
				display: block;
			}
			code.hljs {
				display: inline;
			}
		</style>
	</head>
	<body>
		<% for (let i = 0; i < answers.length; i++) { %>
			<div class="answer">
				<p><a href="<%= answers[i].poster.profileURL %>"><%= answers[i].poster.name %></a> | <%= answers[i].score %> | <%= (answers[i].accepted  ? '✔' : '') %></p>
<%- answers[i].body %>
			</div>
		<% } %>

		<script>
			hljs.initHighlightingOnLoad(); // highlight normal <pre><code></code></pre> blocks
			// highlight inline code blocks <code></code>
			Array.prototype.slice.call(document.querySelectorAll('code')) // turn it into an array
				.filter(element => !element.classList.contains('hljs')) // filter out everything that's already been parsed by hljs
				.forEach(element => hljs.highlightBlock(element)); // highlight them
		</script>
	</body>
</html>